/* styles/Compress.module.css */

.container {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logoSection {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  font-family: "Istok Web", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-right: 20px;
}

.logopdf24 {
  font-family: "Istok Web", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.logotools {
  font-family: "Istok Web", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 20px;
  color: #327fde;
  margin-left: 10px;
}

.starRating {
  display: flex;
  align-items: center;
}

.starRating span {
  color: #f39c12;
}

.ratingText {
  margin-left: 5px;
  font-size: 14px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-left: 20px;
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.blueStrip {
  background-color: #327fde;
  color: #fff;
  padding: 10px 20px;
}

.stripContent {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
}

.stripContent span {
  margin: 0 15px;
  font-weight: bold;
}

.main {
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.topsection {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.compressionSection,
.downloadSection {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-bottom: 20px;
}

.blueStripContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #eff6ff;
}

.step {
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #f0f0f0;
  color: #ccc;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 10px; /* Add margin for spacing between steps */
}

.activeStep {
  background-color: #eff6ff;
  border: 2px solid #1890ff;
  color: #1890ff;
}

/* Media query for desktop screens */
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
  }
  .blueStripContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 0 0 0;
  }

  .stripContent {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
  }

  .stripContent span {
    margin: 0 15px;
    font-weight: bold;
  }

  .stepsContainer {
    flex-direction: row; /* Change direction to row */
    justify-content: space-around; /* Distribute steps evenly */
    padding: 10px;
  }

  .step {
    width: 30%; /* Adjust width for desktop */
    margin-bottom: 0; /* Remove margin for desktop view */
  }

  .platforms {
    background-color: #ffffff;
    width: 50%;
    height: 41px;
    border-radius: 44px;
  }

  .platforms span {
    background-color: #ffffff;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: #585858;
  }
}

.ant-upload-drag-icon {
  color: #0033cc; /* Blue tone */
}

.ant-upload-text {
  color: #333;
}

.ant-upload-hint {
  color: #999;
}

.draggerContent {
  text-align: center;
  padding: 40px;
}

.ant-upload-drag:hover .draggerContent {
  background-color: #f0f0f0;
}

.compressionSettings p {
  display: inline-block;
  margin-right: 10px;
}

.file {
  margin-bottom: 10px;
}

.file p {
  display: inline-block;
  margin-right: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  width: 100%;
}

.actionButton {
  background-color: #ffcc99;
  border: 1px solid #ffcc99;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  margin: 5px;
  width: 32%;
}

.actionButton:hover {
  background-color: #ff9966;
  border-color: #ff9966;
  color: white;
}

.button {
  margin-right: 10px;
}

.arial400 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

.arial700 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 40px;
  font-style: normal;
}

.advertisement {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.information {
  background-color: #eff6ff;
  padding: 40px 0 0 0;
  border-radius: 8px;
  margin-bottom: 40px;
}

.faq {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.platforms {
  background-color: #ffffff;
  width: 100%;
  height: 41px;
  border-radius: 44px;
}

.platforms span {
  background-color: #ffffff;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  color: #585858;
}

.infoGrid {
  display: flex;
  flex-wrap: wrap;
}

.infoCard {
  flex: 1;
  min-width: 315px;
  padding: 20px;
  background-color: #eff6ff;
  border: 1px solid #73b2ff;
  border-radius: 8px;
  margin: 18px;
}

.infoCard h3 {
  margin-bottom: 10px;
  color: #232323;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.infoCard p {
  color: #69829e;
  font-size: 12px;
  text-align: left;
}

.uploadSection,
.compressionSection,
.downloadSection {
  background-color: #eff6ff;
  border-color: #327fde;
}

/* Dark mode styles */
.dark {
  --background-color: #333;
  --text-color: #fff;
}

.dark .header {
  background-color: #001a66; /* Darker blue tone */
}

.dark .uploadSection,
.dark .compressionSection,
.dark .downloadSection {
  background-color: #444;
  border-color: #555;
}

.dark .information,
.dark .faq {
  background-color: #555;
}

.dark .infoCard {
  background-color: #666;
  border-color: #777;
}

.dark .infoCard p {
  color: #ddd;
}

.footerSection {
  background-color: #fff;
  border-radius: 8px;
  padding: 0px 40px 0;
}

.faqSection {
  padding: 0px 40px 0;
  background-color: #fff;
  border-radius: 8px;
}

.faqTitle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 8px;
}

.faqTitleBar {
  width: 8px;
  height: 100%;
  background-color: #327fde;
  margin-right: 10px;
}

.faqText {
  font-size: 24px;
  font-weight: 700;
  color: #327fde;
  margin: 0;
}

.legalLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #c1c1c1;

  background-color: #eff6ff;
  padding: 8px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  text-align: left;
}
