.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.coversection {
  background-color: #eff6ff;
  padding: 0px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.footerColumn {
  flex: 1;
  min-width: 150px; /* Increased min-width for better readability */
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; /* Slightly increased font size */
  font-weight: 400;
  line-height: 22px; /* Adjusted line height */
  text-align: left;
}

.footerColumn h3 {
  margin-bottom: 10px;
  font-size: 20px; /* Adjusted font size for better hierarchy */
  font-weight: 700;
  color: #232323;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn li {
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #eaeaea; /* Changed to border-bottom for better layout */
}

.footerColumn a {
  color: #327fde; /* Adjusted to match main theme color */
  text-decoration: none;
}

.footerColumn a:hover {
  text-decoration: underline;
}

.footerBottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  color: #69829e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.legalLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
  color: #c1c1c1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.legalLinks a {
  margin: 0 10px;
  color: var(--footer-text-color);
  text-decoration: none;
}

.legalLinks a:hover {
  text-decoration: underline;
}

/* Dark mode styles */
.dark .footer {
  background-color: #444; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

.dark .footerColumn a {
  color: #6699ff; /* Lighter blue tone for dark mode links */
}

.dark .footerColumn li {
  border-bottom: 1px solid #555; /* Dark mode border color */
}

.dark .footerBottom {
  border-top: 1px solid #555; /* Dark mode border color */
}

.dark .legalLinks {
  color: #999; /* Adjusted dark mode text color */
}
