html,
body {
  text-align: -webkit-center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: Istok Web400, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Kittithada, KittithadaBold, DB-HelvethaicaMon-X;
  background-color: #fff;
}

:root {
  --background-color: #fff;
  --text-color: #000;
  --footer-background-color: #fff;
  --footer-text-color: #c1c1c1;
}

.dark {
  --background-color: #333;
  --text-color: #fff;
  --footer-background-color: #444;
  --footer-text-color: #fff;
}
